// base universal styles
body {
    font-family: var(--prose-font);
    font-size: var(--prose-size); 
}

article {
    max-width: min(var(--prose-width), 100%);
    margin: 0 auto;
}

aside {
  outline: thin black solid;
  padding: .5em;

  header {
    font-weight: bold;
  }
}

figcaption {
  font-weight: normal;
}

footer {
    font-size: smaller;
}

img {
  max-width: 100%;
  height: auto; 
}

pre, code, tt {
    font-family: var(--code-font);
}

figure {
  padding: 0;
  margin: 0;

  figcaption {
    text-align: right;
    font-weight: normal;
    font-size: var(--size-300);
  }
}
