// CSS variables and any other miscellany that I like defined
// before we start setting rules.

:root {
    --prose-width: 68ch;
    --prose-font: "Kanit", sans-serif;
    --prose-size: 20px;
    --code-font: monospace;
    // See https://css-tricks.com/consistent-fluidly-scaling-type-and-spacing/
    --size-300: clamp(0.7rem, 0.66rem + 0.2vw, 0.8rem);
    --size-400: clamp(0.88rem, 0.83rem + 0.24vw, 1rem);
    --size-500: clamp(1.09rem, 1rem + 0.47vw, 1.33rem);
    --size-600: clamp(1.37rem, 1.21rem + 0.8vw, 1.78rem);
    --size-700: clamp(1.71rem, 1.45rem + 1.29vw, 2.37rem);
    --size-800: clamp(2.14rem, 1.74rem + 1.99vw, 3.16rem);
    --size-900: clamp(2.67rem, 2.07rem + 3vw, 4.21rem);
    --size-1000: clamp(3.34rem, 2.45rem + 4.43vw, 5.61rem);
}

