// styles for randomgeekery.org

:root {
    --prose-width: 68ch;
    --prose-font: "Kanit", sans-serif;
    --code-font: "Courier Prime", monospace;
}

body {
    font-family: var(--prose-font);
    font-size: 20px;
}

article {
    max-width: min(var(--prose-width), 100%);
    margin: 0 auto;
}

footer {
    font-size: smaller;
}

header.siteheader {
    font-size: large;
    padding: 1em;
}

.card-columns {
    display: grid;
    grid-template-columns:
        1fr
        min(var(--prose-width), 33%)
        min(var(--prose-width), 33%);
    grid-gap: 1em;
}

pre, code, tt {
    font-family: var(--code-font);
}

.card {
    border: thin solid black;
    padding: 0.5em;
    margin: .5em 0;

    footer {
        text-align: right;
    }
}

a.tag {
    &::before {
        content: '#';
    }
}