// styles for randomgeekery.org

@use "base";
@use "layout";
@use "modules/shiki";

// {{{ CSS Variables

:root {
    --prose-width: 68ch;
    --prose-font: "Kanit", sans-serif;
    --prose-size: 20px;
    --code-font: monospace;
    // See https://css-tricks.com/consistent-fluidly-scaling-type-and-spacing/
    --size-300: clamp(0.7rem, 0.66rem + 0.2vw, 0.8rem);
    --size-400: clamp(0.88rem, 0.83rem + 0.24vw, 1rem);
    --size-500: clamp(1.09rem, 1rem + 0.47vw, 1.33rem);
    --size-600: clamp(1.37rem, 1.21rem + 0.8vw, 1.78rem);
    --size-700: clamp(1.71rem, 1.45rem + 1.29vw, 2.37rem);
    --size-800: clamp(2.14rem, 1.74rem + 1.99vw, 3.16rem);
    --size-900: clamp(2.67rem, 2.07rem + 3vw, 4.21rem);
    --size-1000: clamp(3.34rem, 2.45rem + 4.43vw, 5.61rem);
    --gap-100: clamp(2px, 1vw, 10px);
    --gap-200: clamp(5px, 2vw, 20px);
    --gap-300: clamp(10px, 4vw, 40px);
    --color-content-bg: white;
    --color-content-fg: black;
    --color-accent-bg: #eeeeee;
    --color-accent-fg: #555;
    --color-warning-fg: red;
    --color-link-default-fg: blue;
}

// }}}

// {{{ MODULES

// {{{ .card
// For summaries of info, usually with a link out
section.card {
    border: thin solid var(--color-content-fg);
    padding: var(--gap-100);
    margin: var(--gap-100) 0;

    footer {
        text-align: right;
    }

    figure {
      padding: 0;
      margin: 0;
    }
}

// notes, tips, etc.

.admonition {
  outline: thin var(--color-warning-fg) solid;
  padding: .5em;
}

.note, .tldr {
  padding: .5em;
}

// }}}

// {{{ microformats
.u-url {
  font-weight: bold;
}

.photo-note {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.rel-me {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
// }}}

// {{{ article entries
.entry {
  padding: .66rem 0;

  .entry-details {
    display: flex;
    justify-content: space-between;
  }
}
// }}}

// {{{ Links to tag listings

.item-tags {
  text-align: right;
  font-size: var(--size-400);
}

a.tag {
  outline: thin var(--color-link-default-fg) solid;
  padding: 0.1rem 0.2rem;
  text-decoration: none;

  &::before {
      content: '#';
  }

  &:hover {
    outline: thin red solid;
    color: red;
  }
}
// }}}

// {{{ .buy-me
// really just an admonition
.buy-me {
  width: 46ch;
  padding: 0 1rem;
  margin: 2rem auto;
  border: thin black solid;
  background-color: var(--color-accent-bg);
}
// }}}

// {{{ links to where I mention the site elsewhere
ul.syndication {
  list-style-type: none;
  text-align: right;

  li {
    display: inline;
  }

  a {
    display: inline-block;
    outline: thin var(--color-link-default-fg) solid;
    padding: 0.25rem;
    text-decoration: none;
  }
}
// }}}

// }}}

// vim: fdm=marker:
