---
year: 2022
section: post
layout: layouts/post_year.njk
---

Started the year with a fresh build of the site via [Eleventy][]. As for the
rest? We'll just have to see how the year goes.

[Eleventy]: https://11ty.dev
