{% from "macros/card.njk" import card %}

{% macro article_card(article, card_content, class_name="article") %}
  {{ card(card_content,
      header_text=article.data.title,
      jump_url = article.url,
      date=article.data.date,
      tags=article.data.tags,
      img=article.data.cover
    ) }}
{% endmacro %}

