{% from "macros/date_stamp.njk" import date_stamp %}
{% from "macros/tag_list.njk" import tag_list %}

{% macro article_entry(article) %}
    <div class="entry">
      <div class="entry-details">
        <a href="{{ article.url | url }}">
            {% if article.data.title %}
                {{ article.data.title }}
            {% else %}
                <code>{{ article.url }}</code>
            {% endif %}
        </a>
        {{ date_stamp(article.date) }}
      </div>
      {{ tag_list(article.data.tags) }}
    </div>
{% endmacro %}
