{% from "macros/article_entry.njk" import article_entry %}

{% macro article_entries(articles) %}
  <div>
  {% for article in articles %}
    {{ article_entry(article=article) }}
  {% else %}
    <div>None?</div>
  {% endfor %}
  </div>
{% endmacro %}
