{% from "macros/card.njk" import card %}

{% macro article_card(article, card_content, class_name="article") %}
  {% set cover_url = article.data.cover %}

  {% if cover_url %}
    {% set cover_url = [article.url, cover_url ] | join %}
  {% endif %}

  {{ card(card_content,
      header_text=article.data.title,
      jump_url = article.url,
      date=article.data.date,
      tags=article.data.tags,
      img=cover_url
    ) }}
{% endmacro %}

