{% from "macros/date_stamp.njk" import date_stamp %}

{% macro article_entry(article) %}
    <div>
        {{ date_stamp(article.date) }}
        <a href="{{ article.url | url }}">
            {% if article.data.title %}
                {{ article.data.title }}
            {% else %}
                <code>{{ article.url }}</code>
            {% endif %}
        </a>
        {% for tag in article.data.tags %}
        <a class="tag" href="/tag/{{ tag | slug }}">{{ tag }}</a>
        {% endfor %}
    </div>
{% endmacro %}