{% from "macros/card.njk" import card %}

{% macro article_card(article, card_content, class_name="article") %}
  {% if article and card_content %}
    {{ card(card_content,
        header_text=article.data.title,
        jump_url = article.url,
        date=article.data.date,
        tags=article.data.tags,
        img=article.data.cover
      ) }}
  {% else %}
    <aside class="warning">
      <header>
        <tt>macros/article_card.njk</tt> Template Issue
      </header>
      {% if article %}
        <p>
          <tt>macros/article_card.nj</tt> has <tt>article</tt> but no <tt>card_content</tt>!
        </p>
      {% elif card_content %}
        <p>
          <tt>macros/article_card.nj</tt> has <tt>card_content</tt> but no <tt>article</tt>!
        </p>
      {% else %}
        <p>
          <tt>macros/article_card.nj</tt> has neither <tt>card_content</tt> nor <tt>article</tt>!
        </p>
      {% endif %}
    </aside>
  {% endif %}
{% endmacro %}

