{% extends "layouts/base.njk" %}

{% block content %}
<article>
    <header>
      {% if cover %}
        {% image cover, "cover image" %}
      {% endif %}
      {% block article_header %}
        <h1>{{ title }}</h1>
      {% endblock article_header %}
    </header>
    {% block article_content %}
        {{ content | safe }}
    {% endblock %}
</article>
{% endblock %}
