{% extends "layouts/base.njk" %}

{% from "macros/article_syndication.njk" import article_syndication %}

{% block headmeta %}
  <title>{{ title }} | Random Geekery</title>
{% endblock %}

{% block content %}
<article>
    <header>
      {% if cover %}
        <figure>
        {% image cover, "cover image" %}
        {% if caption %}
          <figcaption>
            {{ caption }}
          </figcaption>
        {% endif %}
        </figure>
      {% endif %}
      {% block article_header %}
        <h1>{{ title }}</h1>
      {% endblock article_header %}
      {% if announcements %}
        <footer>
          {{ article_syndication(announcements) }}
        </footer>
      {% endif %}
    </header>
    {% block article_content %}
        {{ content | safe }}
    {% endblock %}
    {% if announcements %}
      <footer>
        {{ article_syndication(announcements) }}
      </footer>
    {% endif %}
</article>
{% endblock %}
