<!doctype html>
<html lang="en">
  <head>
    <title>Random Geekery</title>
    <link
      href="https://fonts.googleapis.com/css?family=Kanit:400,400it,700&display=swap"
      rel="stylesheet">
    <link
      href="https://fonts.googleapis.com/css?family=Courier+Prime:400,400it,700,700it|Kanit:300,300it,500&display=swap"
      rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/main.css">
  </head>
  <body>
    <header class="siteheader">
      <strong><a href="/">Random Geekery</a></strong>
    </header>
    <main>
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
