<!doctype html>
<html lang="en">
  <head>
    <title>Random Geekery</title>
    <link rel="stylesheet" href="/assets/css/main.css">
  </head>
  <body>
    <header>
      <strong><a href="/">Random Geekery</a></strong>
    </header>
    <main>
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
