{% extends "layouts/article.njk" %}

{% from "macros/date_stamp.njk" import date_stamp %}
{% from "macros/tag_list.njk" import tag_list %}

{% block article_header %}
  {% if cover %}
    <img src="{{ cover | url }}" />
  {% endif %}
  <h1>{{ title }}</h1>
  <p>{{ date_stamp(date) }}</p>
  <p>{{ tag_list(tags) }}</p>
{% endblock article_header %}
