---
eleventyComputed:
    title: Posts added in {{ year }}
---
{% extends "layouts/article_listing.njk" %}

{% from "macros/article_entries.njk" import article_entries %}

{% block listing %}
    {% set articles = collections.posts | byYear | forYear(year) %}
    {{ article_entries(articles=articles) }}
{% endblock %}
