{% extends "layouts/article.njk" %}

{% from "macros/date_stamp.njk" import date_stamp %}
{% from "macros/tag_list.njk" import tag_list %}

{% block article_header %}
  <h1>{{ title }}</h1>
  <p>{{ date_stamp(date) }}</p>
  {% if description %}
    <p class="description">{{ description }}</p>
  {% endif %}
  <p>{{ tag_list(tags) }}</p>
{% endblock article_header %}
