// My awesome site banner
header.masthead {
  align-items: center;
  justify-content: center;
  padding: 0;

  @media screen and (min-width: 1024px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "tag-line flag ear";
  }

  .flag {
    grid-area: flag;
    font-size: var(--size-700);
    margin: 0;
    padding: 0;
    font-weight: bold;
    text-align: center;
  }

  .tag-line {
    grid-area: tag-line;
    font-size: var(--size-400);
    font-style: italic;
  }

  nav.ear {
    grid-area: ear;
    display: flex;
    justify-content: space-between;

    a {
      margin: 0 1rem;
      font-weight: 500;
    }
  }

  a[href] {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
