ul.syndication {
  list-style-type: none;
  text-align: right;

  li {
    display: inline;
  }

  a {
    display: inline-block;
    outline: thin blue solid;
    padding: 0.25rem;
    text-decoration: none;
  }
}