---
permalink: /note/index.xml
eleventyExcludeFromCollections: true
layout: layouts/feed.njk
metadata:
  title: Random Geekery Notes
  subtitle: Quick thoughts
  url: https://randomgeekery.org/note
  feedUrl: https://randomgeekery.org/note/feed.xml
---
  {%- for post in collections.notes | newestEntries(10) -%}
  {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset -%}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
  </entry>
  {%- endfor %}
</feed>
