---
permalink: /post/
title: Posts
---

{% extends "layouts/splash.njk" %}

{% from "macros/post_card.njk" import post_card %}

{% block splash_intro %}
  <p>These are my posts</p>
{% endblock %}

{% block splash_primary %}
  {% set posts = collections.posts | newestEntries(10) %}
  {% for post in posts %}
      {{ post_card(post)}}
  {% endfor %}
{% endblock %}

{% block splash_secondary %}
  <ul>
    {% for year, posts in collections.posts | byYear %}
      <li>
        <a href="/post/{{ year }}/">{{ year }}</a>:
        {{ posts | length }}
      </li>
    {% endfor %}
  </ul>
{% endblock %}
