{% extends "layouts/splash.njk" %}

{% from "macros/note_card.njk" import note_card %}
{% from "macros/post_card.njk" import post_card %}

{% block splash_intro %}
  <p>Yo, welcome!</p>
{% endblock %}

{% block splash_primary %}
  <h2>Latest Note</h2>
  {% set note = collections.notes | first %}
  {{ note_card(note = note)}}
{% endblock %}

{% block splash_secondary %}
  <h2>Latest Posts</h2>
  {% for post in collections.featuredPosts %}
    {{ post_card(post = post) }}
  {% endfor %}
{% endblock %}
