---
pagination:
    data: collections
    size: 1
    alias: tag
    addAllPagesToCollections: true
layout: layouts/article_listing.njk
eleventyComputed:
    title: Articles tagged "{{ tag }}"
permalink: /tag/{{ tag | slug }}/index.html
---
{% from "macros/article_entries.njk" import article_entries %}

{% block listing %}
  {% set articles = collections[tag] | reverse %}
  {{ article_entries(articles=articles) }}
{% endblock listing %}