<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
  href="https://fonts.googleapis.com/css?family=Kanit:400,400it,700&display=swap"
  media="screen"
  rel="stylesheet">
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css"
    integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY="
    media="screen"
    crossorigin="anonymous">
<link rel="stylesheet" media="screen" href="/assets/css/main.css">
<link
  href="/index.xml"
  rel="alternate"
  type="application/rss+xml"
  title="Random Geekery Article Feed" />
<link
  href="/post/index.xml"
  rel="alternate"
  type="application/rss+xml"
  title="Random Geekery Post Feed" />
<link
  href="/note/index.xml"
  rel="alternate"
  type="application/rss+xml"
  title="Random Geekery Note Feed" />
{%- set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset -%}
<meta property="og:url" content="{{ absolutePostUrl }}">
<meta property="og:title" content="{{ title }}">
<meta name="twitter:title" content="{{ title }}">
<meta name="twitter:site" content="@brianwisti">
{% if description %}
  <meta name="description" content="{{ description }}">
  <meta name="twitter:description" content="{{ description }}">
  <meta name="og:description" content="{{ description }}">
{% endif %}
{% if cover %}
  {%- set absoluteCoverUrl %}{{ cover | url | absoluteUrl(metadata.url) }}{% endset -%}
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="{{ absoluteCoverUrl }}">
  <meta property="og:image" content="{{ absoluteCoverUrl }}">
{% else %}
  <meta name="twitter:card" content="summary">
{% endif %}
<link
  rel="webmention"
  href="https://webmention.io/randomgeekery.org/webmention" />
<link
  rel="pingback"
  href="https://webmention.io/randomgeekery.org/xmlrpc" />