<header class="masthead">
  <h1 class="flag">
    <a href="/">Random Geekery</a>
  </h1>
  <p class="tag-line">
    Collecting my attempts to improve at tech, art, and life
  </p>
  <nav class="ear">
    <a href="/note/">Notes</a>
    <a href="/post/">Posts</a>
    <a href="/now/">Now</a>
    <a href="/follow/">Follow</a>
  </nav>
</header>
